html,body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
	horizontal-align: middle;
	font-family: 'Open Sans', sans-serif;
	width: 1100px;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

nav {
	height: 650px;
	width: 180px;
	float: left;
	padding: 10px;
	text-align: right;
}

ul {
	list-style-type: none;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

.regForm span {
	color: #0000ff;
	font-size: 12px;
	font-style: italic;
}

.footer {
	background: white;
	height: 50px;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.footer p {
	color: #ccc;
	font-size: 80%
}

.error {
	color: #FF0000;
}

.wide {
	width: 980px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

form {
	display: inline;
}

input[type="text"],input[type="password"] {
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 24px;
	width: 200px;
	font-size: 14px;
	background: #ffffff !important;
}

input[type=submit] {
	font-size: 14px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit]:hover {
	background: #FAC564;
}

nav input[type=submit] {
	background: none;
	font-size: 20px;
	text-decoration: underline;
}

nav input[type=submit]:hover {
	background: none;
	color: #006600;
	text-decoration: none;
}

a {
	background: none;
	color: black;
	text-decoration: underline;
}

a:hover {
	background: none;
	color: #00688b;
	text-decoration: none;
}

div.navtable {
	display: table;
	width: 100%;
	height: 125px;
	border-spacing: 1px 1px;
	top: 0px;
}

#headerMain {
	width: 920px;
	height: 150px;
	margin: 0px auto;
	z-index: 0;
}

#header {
	width: 920px;
	height: 150px;
	position: fixed;
	z-index: 9999;
}

div.navcolumn {
	display: table-cell;
	padding: 0px;
}

div.navtable input {
	display: block;
	padding: 15px 20px;
	background: #0db5b5;
	color: #3f3f3f;
	text-decoration: none;
	position: relative;
	width: 100%;
}

div.navtable input:hover {
	background: #92d3d3;
	color: #6b6b6b;
}

.navigation {
	list-style: none;
}

.user_bar {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 6px;
}

.row_1 {
	padding: 0px 0px 0px 0px;
	text-align: center;
	height: 50px;
}

.category {
	display: block;
	width: 190px;
	height: 32px;
	border: 1px solid #D3D3D3;
	float: left;
	font-size: 16px;
}

input[type=submit].greenButton {
	width: auto;
	margin: 10px 0 0 2px;
	padding: 3px 4px 3px 4px;
	color: white;
	background-color: #589d39;
	outline: none;
	border: 1px solid #006600;
	font-weight: bold;
}

input[type=submit].greenButton:hover {
	background: #AFEEEE;
}

input[type=submit].greenButton:active {
	background-color: #006600;
	padding: 4px 3px 2px 5px;
}

#catalog div {
	display: inline-block;
	float: left;
	margin: 0 15px 15px 0;
	background-color: #F0FFF0;
	width: 240px;
	height: 200px;
}

#catalog div:hover {
	background-color: #E6E6FA
}

#catalog h3 {
	text-align: center;
}

#catalog ul {
	font-size: 14px;
}

input.searchfield {
	width: 750px;
}

table.list {
	border-collapse: collapse;
	width: 100%;
	border: #ccc 1px solid;
}

table.list tr {
	border-bottom: 1px solid #00CED1;
}

table.list th {
	height: 40px;
	padding: 5px;
	border-left: #ccc 1px solid;
}

table.list td {
	text-align: center;
	padding: 12px;
	border-left: #ccc 1px solid;
}

table.list td.bookData {
	text-align: center;
	padding: 12px;
	border-left: #ccc 1px solid;
	width: 170px;
	font-size: 16px;
	cellpadding: 1px;
}

table.list td.bookDataInCart {
	text-align: center;
	padding: 12px;
	border-left: #ccc 1px solid;
	width: 300px;
	font-size: 16px;
	cellpadding: 1px;
}

table.list td.actionButton {
	text-align: center;
	padding: 2px;
}

table.list td:hover {
	background: #F0FFF0;
}

table.local {
	border-collapse: collapse;
	width: 5%;
	text-align: right;
}

#page {
	background: white;
	height: 100px;
	bottom: 5px;
	float: none;
	width: 70%;
}

div.center {
	top: 60%; 
	left: 50%; 
	width: 450px;
	height: 450px; 
	position: absolute; 
	margin-top: -225px; 
	margin-left: -225px; 
	
}