/* body, html { */
/* 	height: 500 px; */
/* 	/* 	width: 597 px; */ */
/* 	line-height: 1.2;  */
/* } */

/* .page { */
/* 	position: relative; */
/* /* 	height: auto; */ */
/* } */


/* .button-current { */
/* 	color: red; */
/* 	font: bold; */
/* } */

/* .content { */
/* 	margin-left: 5px; */
/* 	margin-right: 5px; */
/* 	margin-top: 0px; */
/* 	margin-bottom: 0px; */
/* 	padding-top: 1px; */
/* 	padding-bottom: 1px; */
/* 	border-left: solid 2px; */
/* 	border-right: solid 2px; */
/* } */

/* .menu { */
/* 	padding: 12px 5px 746px 3px; */
/* 	width: 150px; */
/* 	float: left; */
	
/* } */

/* .body { */
/* 	margin: 0px 0px 0px 150px; */
/* 	text-align: center; */
/* } */

/* .body-login { */
/* 	margin-left: 420px; */
/* } */

/* .login-element { */
/* 	margin: 365px 50px; */
/* } */

/* .form-group { */
/* 	width: 300px; */
/* 	margin-right: -15px; */
/* 	margin-left: -15px; */
/* } */

/* .footer { */
/* 	clear: both; */
/* 	bottom: 0; */
/* 	text-align: center; */
/* 	margin-left: 5px; */
/* 	margin-right: 5px; */
/* 	height: 20px; */
/* 	border: solid 2px; */
/* } */

/* .selectBox { */
/* 	padding: 2px 5px; */
/* 	display: inline-block; */
/* 	cursor: pointer; */
/* 	-moz-user-select: -moz-none; */
/* 	-o-user-select: none; */
/* 	-khtml-user-select: none; */
/* 	-webkit-user-select: none; */
/* 	user-select: none; */
/* } */

/* .multiselect { */
/* 	display: inline-block; */
/* } */

/* .multiselect { */
/* 	width: auto; */
/* 	float: left; */
/* } */

/* .selectBox { */
/* 	position: relative; */
/* } */

/* .selectBox select { */
/* 	width: 100%; */
/* } */

/* .overSelect { */
/* 	position: absolute; */
/* 	left: 0; */
/* 	right: 0; */
/* 	top: 0; */
/* 	bottom: 0; */
/* } */

/* #checkboxes { */
/* 	display: none; */
/* 	border: #dadada solid; */
/* 	width: 100px; */
/* 	position: absolute; */
/* 	background: white; */
/* } */

/* #checkboxes label { */
/* 	display: block; */
/* } */

/* #checkboxes label:hover { */
/* 	background-color: #1e90ff; */
/* } */

/* #author-select { */
/* 	float: left; */
/* 	margin-right: 10px; */
/* } */

/* .frame { */
/* 	margin: 5px; */
/* 	border: solid 2px #ccc; */
/* 	min-height: 90%; */
/* } */

/* .language { */
/* 	margin-right: 10px; */
/* } */

/* .portal-name { */
/* 	margin-left: 10px; */
/* 	line-height: 0.5; */
/* 	color: blue; */
/* } */

/* .error-message { */
/* 	color: red; */
/* } */

/* .success-message { */
/* 	color: green; */
/* } */

/* .save-form { */
/* 	margin: 75px 50px -35px; */
/* } */

/* .filter-form { */
/* 	float: left; */
/* 	margin-top: 50px; */
/* 	margin-left: 200px; */
/* 	display: inline-block; */
/* } */

/* .button-save { */
/* 	display: inline-block; */
/* 	margin-top: 50px; */
/* 	margin-right: 200px; */
/* 	float: right; */
/* } */

/* .save-page { */
/* 	position: static; */
/* } */

/* .date-info { */
/* 	margin-top: 50px; */
/* } */

/* .list-news { */
/* 	text-align: left; */
/* 	font-size: 15px; */
/* } */

/* .tags-comments-edit { */
/* 	text-align: right; */
/* 	margin-right: 100px; */
/* 	line-height: 1; */
/* } */

.comment-text {
	width: 500 px;
	height: 100px;
}

/* color-comment { */
/* 	color: red; */
/* } */

/* .left { */
/* 	float: left; */
/* } */

/* .page-counter { */
/* 	margin-top: 7%; */
/* 	background-color: #c0c0c0; */
/* 	padding: 10px */
/* } */

/* .top-filter { */
/* 	margin-left: 40%; */
/* 	margin-top: 20px; */
/* 	margin-bottom: 50px; */
/* } */

/* .edit-form { */
/* 	width: 800; */
/* 	display: inline-block; */
/* } */

/* .news-title { */
/* 	width: 100%; */
/* 	height: 25px; */
/* } */

/* .news-shorttext { */
/* 	width: 100%; */
/* 	height: 75px; */
/* } */

/* .news-fulltext { */
/* 	width: 100%; */
/* 	height: 125px; */
/* } */

/* .inline-title { */
/* 	display: inline-block; */
/* 	width: 70px; */
/* } */

/* .inline-content { */
/* 	display: inline-block; */
/* 	width: 100%; */
/* 	margin-left: 100px; */
/* } */

/* /* .logout { */ */
/* /* 	float: right; */ */
/* /* } */ */
/* .shorttext { */
/* 	margin-top: 10px; */
/* 	margin-right: 80px; */
/* } */

/* .comment-creation-date { */
/* 	background: #c0c0c0; */
/* } */


/* .comments { */
/* 	white-space: pre-wrap; */
/* 	background-color: #c0c0c0; */
/* 	width: auto; */
/* } */

/* .right-side { */
/* 	float: right; */
/* } */

/* /* .comments-heap { */ */
/* /* 	width: 860px; */ */
/* /* 	float: left; */ */
/* /* 	margin-top: 40px; */ */
/* /* } */ */
/* .comments-heap { */
/* 	max-width: 700px; */
/* } */
/* .tag-heap { */
/* 	max-width: 500px; */
/* 	float: right; */
/* } */

/* .author-field { */
/* 	float: rignt; */
/* 	display: inline-block; */
/* } */

/* .author-field-name { */
/* 	float: rignt; */
/* 	display: inline-block; */
/* 	margin-left: 50px; */
/* 	margin-top: 20px; */
/* } */

/* .tag-field-name { */
/* 	float: rignt; */
/* 	display: inline-block; */
/* 	width: 300; */
/* 	margin-left: 50px; */
/* 	margin-top: 20px; */
/* } */

/* .author-field-delete { */
/* 	float: rignt; */
/* 	display: inline-block; */
/* 	margin-left: 50px; */
/* } */

/* .btn-update { */
/* 	background: none; */
/* 	padding: 0; */
/* 	margin: 0; */
/* 	border: none; */
/* 	color: #00E; */
/* 	text-decoration: underline !important; */
/* 	cursor: pointer; */
/* } */

/* .view-news { */
/* 	margin-top: 20px; */
/* 	margin-left: 50px; */
/* 	margin-right: 50px; */
/* } */

/* .shorttext { */
/* 	margin-top: 20px; */
/* 	padding-right: 85px; */
/* } */

/* .fulltext { */
/* 	margin-top: 50px; */
/* 	white-space: pre-wrap; */
/* } */

.logout div {
	display: inline-block
}
/* .back-next { */
/* 	float: right; */
/* 	margin-right: 10px; */
/* 	margin-bottom: 10px; */
/* } */

/* .back-previous { */
/* 	float: left; */
/* 	margin-left: 10px; */
/* } */


/* input { */
/*     position: relative; */
/*     width: 150px; height: 20px; */
/*     color: white; */
/* } */

/* input:before { */
/*     position: absolute; */
/*     top: 3px; left: 3px; */
/*     content: attr(data-date); */
/*     display: inline-block; */
/*     color: black; */
/* } */

/* input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button { */
/*     display: none; */
/* } */

/* input::-webkit-calendar-picker-indicator { */
/*     position: absolute; */
/*     top: 3px; */
/*     right: 0; */
/*     color: black; */
/*     opacity: 1; */
/* } */

body, html {
	height: 500px;
/* 	width: 597 px; */
	line-height:1;
}

.page {
	position: relative;
	height: auto;
}

.header {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	text-align: left;
	border: solid 2px;

}

.header-content{
		display: table-row;
		width: auto;
}

.vertical{
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: table-cell;
}

.logout div{
/* 	margin-left: 5px; */
/* 	margin-right: 5px; */
/* 	margin-bottom: 5px; */
	display: inline-block;
}

.button-current{
	color: red;
	font: bold;
}

.content {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1px; /* Height of the footer element */
	padding-bottom: 1px; /* Height of the footer element */
	border-left: solid 2px;
	border-right: solid 2px;
}

.menu {
	padding: 12px 5px 700px 3px;
	width: 150px;
	float: left;
}

.body {
	margin: 0px 0px 0px 150px;
	text-align: center;
}

.body-login {
	margin-left: 420px;
}

.login-element {
	margin: 365px 50px;
}
.form-group {
	width: 300px;
  	margin-right: -15px;
  	margin-left: -15px;
}
.footer {
	clear: both;
	bottom: 0;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
	border: solid 2px;
}

.selectBox{
	padding: 2px 5px;
	display: inline-block;
	cursor: pointer;
	
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.multiselect{
	display: inline-block;
}
	
.multiselect {
	width: auto;
	float: left;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border: #dadada solid;
	width:100px;
	position: absolute;
	background: white;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}
#author-select{
	float: left;
	margin-right: 10px;
}

.frame {
	margin: 5px;
	border: solid 2px #ccc;
	min-height: 90%;
}

.language {
	margin-right: 10px;
}

.portal-name{
	margin-left: 10px;
	line-height: 0.5;
	color: blue;
}

.error-message{
	color: red;
}

.success-message{
	color: green;
}

.save-form{
	margin: 75px 50px -35px;
}

.filter-form{
	float: left;
	margin-top: 50px;
	margin-left: 200px;
	display: inline-block;
}

.button-save{
	display: inline-block;
	margin-top: 50px;
	margin-right: 200px;
	float: right;
}

.save-page{
	position: static;
}

.date-info{
	margin-top: 50px;
}

.list-news{
	text-align: left;
	font-size:15px;
}

.tags-comments-edit{
	text-align: right;
	margin-right: 100px;
	line-height:1;
}

color-comment{
	color: red;
}

.left{
	float: left;
}

.page-counter {
    margin-top: 7%;
    background-color: #c0c0c0;
    padding: 10px
}

.top-filter {
	margin-left: 40%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.edit-form{
	width: 800;
	display: inline-block;
}

.news-title {
	width: 100%;
	height: 25px;
}

.news-shorttext {
	width: 100%;
	height: 75px;
}

.news-fulltext {
	width: 100%;
	height: 125px;
}

.inline-title{
	display: inline-block;
	width: 70px;
}

.inline-content{
	display: inline-block;
	width: 100%;
	margin-left: 100px;
}

.logout {
	float: right;
}
.shorttext{
	margin-top: 10px;
	margin-right: 80px;
}

.comment-creation-date {
	background: #c0c0c0;
}

.comments {
/* 	white-space: pre-wrap; */
	background-color: #c0c0c0;
	width: auto;

	
}

.comments div{
	display: inline;
}


#comment-count {
	color: red;
}

.right-side{
	float: right;
}

.comments-heap{
max-width: 700px;
height: 20 px;

}

.tag-heap{
	max-width: 500px;
	float: right;
}
.author-field{
	float: rignt;
	display: inline-block;
}

.author-field-name{
	float: rignt;
	display: inline-block;
	margin-left: 50px;
	margin-top: 15px;
}

.author-field-delete{
	float: rignt;
	display: inline-block;
	margin-left: 50px;
}

.btn-update {
	background: none;
	padding: 0;
	margin: 0;
	border: none;
	color: #00E;
	text-decoration: underline !important;
	cursor: pointer; 
}

.view-news{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.shorttext {
	margin-top: 20px;
	padding-right: 85px;
}

.fulltext {
	margin-top: 50px;
	white-space: pre-wrap;
}

.back-botton {
	margin-top: 10px;
	margin-left: 10px;
}

.back-next {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

.back-previous {
	float: left;
	margin-left: 10px;
}