html,body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	width: 1000px;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

nav {
	height: 650px;
	width: 180px;
	float: left;
	padding: 10px;
	text-align: right;
}

ul {
	list-style-type: none;
}

nav ul {
	margin: 0px;
	padding: 0px;
}


.regForm span {
	color: #0000ff;
	font-size: 12px;
	font-style: italic;
}

.footer {
	background: white;
	height: 50px;
	bottom: 0px;
	width: 100%;
	text-align: center; /* центрируют текст блока fixblock */
}

.footer p {
	color: #ccc;
	font-size: 80%
}


.error {
	color: #FF0000;
}

.wide {
	width: 980px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

form {
	display: inline;
}

input[type="text"],input[type="password"] {
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 24px;
	width: 200px;
	font-size: 14px;
	background: #ffffff !important;
}

input[type=submit] {
	font-size: 14px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit]:hover {
	background: #FAC564;
}

nav input[type=submit] {
	background: none;
	font-size: 20px;
	text-decoration: underline;
}

nav input[type=submit]:hover {
	background: none;
	color: #FF0000;
	text-decoration: none;
}

a {
	background: none;
	color: black;
	text-decoration: underline;
}

a:hover {
	background: none;
	color: #FF0000;
	text-decoration: none;
}

table.list {
	border-collapse: collapse;
	width: 100%;
}

table.list tr {
	border-bottom: 1px solid #FAC564;
}

table.list th {
	height: 50px;
	padding: 5px;
}

table.list td {
	text-align: center;
	padding: 12px;
}

table.list td.actionButton {
	text-align: center;
	padding: 3px;
}

table.list td:hover {
	background: #ccc;
}

table.local {
	border-collapse: collapse;
	width: 5%;
	text-align: right;
}

div.navtable {
	display: table;
	width: 100%;
	border-spacing: 1px 1px;
	top: 0px;
}
#headerMain {
  width:920px;
  height: 195px;
  margin:0px auto;
  z-index:0;
}
 
#header {
  width:920px;
  height: 195px;
  position: fixed;
  z-index: 9999;
}
div.navcolumn {
	display: table-cell;
	padding: 0px;
}



div.navtable input {
	display: block;
	/* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
	padding: 15px 20px; /* Внутри блочные отступы. */
	background: #0db5b5; /* Цвет блоков меню. */
	color: #3f3f3f; /* Цвет текста в блоках меню. */
	text-decoration: none; /* Устранение подчёркивания ссылок. */
	position: relative;
	/* Это необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
	width: 100%;
}

div.navtable input:hover {
	background: #92d3d3; /* Цвет блока при наведении курсора. */
	color: #6b6b6b; /* Цвет текста при наведении курсора. */
}

.navigation {
	list-style: none; /* Отключение отображения маркеров. */
}

.user_bar {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 6px;
}

.row_1 {
	padding: 0px 0px 0px 0px;
	text-align: center;
	height: 50px;
}

.search {
	margin: 0px auto;
	width: 945px;
}

input.searchfield {
	display: block;
	width: 670px;
	height: 30px;
	border: 1px solid #D3D3D3;
	float: left;
	padding-left: 6px;
	font-size: 16px;
}

.searchfield:hover {
	display: block;
	width: 670px;
	height: 30px;
	border: 1px solid #9e9e9e;
}

.searchfield:focus {
	display: block;
	width: 670px;
	height: 30px;
	border: 1px solid #00BFFF;
}

.category {
	display: block;
	width: 140px;
	height: 32px;
	border: 1px solid #D3D3D3;
	float: left;
	font-size: 16px;
}

.searchbutton {
	color: #ffffff;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	border: 1px solid #07C7C7;
	border-radius: 2px;
	background: rgb(0, 191, 255); /* Old browsers */
	opacity: .8;
	filter: alpha(opacity = 80);
	float: both;
}

.searchbutton:hover {
	color: #ffffff;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	border: 1px solid #07C7C7;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: rgb(0, 191, 255); /* Old browsers */
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity = 100);
	float: both;
}

input[type=submit].greenButton {
	width: auto;
	margin: 10px 0 0 2px;
	padding: 3px 4px 3px 4px;
	color: white;
	background-color: #589d39;
	outline: none;
	border: 1px solid #006600;
	font-weight: bold;
}

input[type=submit].greenButton:hover {
	background: #AFEEEE;
}

input[type=submit].greenButton:active {
	background-color: #006600;
	padding: 4px 3px 2px 5px;
}

#catalog div {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	background-color: #F0FFF0;
	width: 250px;
}

#catalog div:hover {
	background-color: #E6E6FA
}

#catalog h3 {
	text-align: center;
}
#catalog ul{
	font-size: 14px;
	
}

#catalog ul{
	font-size: 14px;
	
}




































